@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+NG+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bannerIcon {
    @apply w-12 h-12 sm:w-16 sm:h-16 bg-black bg-opacity-25 text-gray-200 text-lg sm:text-xl inline-flex items-center justify-center rounded-md shadow-shadowOne hover:bg-opacity-40 hover:-translate-y-1 transition-all hover:text-designColor cursor-pointer duration-300;
  }

  .resumeli {
    @apply w-full h-16 sm:h-20 bg-gray-500 bg-opacity-25 text-lg sm:text-xl text-gray-300 flex justify-center cursor-pointer hover:bg-opacity-40 transition-all duration-300 items-center border-[1px] rounded-none;
  }
  .bgOpacity {
    @apply bg-gray-400 bg-opacity-40;
  }
  .contactInput {
    @apply w-full h-10 sm:h-12 rounded-lg border-b-[1px] border-b-gray-300 bg-black text-lightText px-3 sm:px-4 active:outline-none focus-visible:outline-designColor outline-none focus-visible:border-b-transparent duration-300;
  }
  .contactTextArea {
    @apply w-full rounded-lg border-b-[1px] border-b-gray-300 bg-slate-950 text-lightText px-3 sm:px-4 py-2 active:outline-none focus-visible:outline-designColor outline-none focus-visible:border-b-transparent duration-300 resize-none;
  }
}
.active {
  color: white;
}
